html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background: url('bg.jpg') top center / 100% auto no-repeat;
    background: url('bg.webp') top center / 100% auto no-repeat;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(10, 10, 10, 0.4);
}

.link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0.6em 4em;
}

.icon {
    width: 1.6em;
    height: 1.6em;
    fill: #fff;
    margin: auto;

    -webkit-transition: fill 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: fill 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.link:hover .icon, .link:active .icon {
    fill: #888;
}

.twitch:hover .icon, .twitch:active .icon {
    fill: #8139e5;
}

.youtube:hover .icon, .youtube:active .icon {
    fill: #d93636;
}

.discord:hover .icon, .discord:active .icon {
    fill: #5562f2;
}

.twitter:hover .icon, .twitter:active .icon {
    fill: #3da7f2;
}

@media only screen and (orientation: portrait) {
    body {
        justify-content: flex-end;
        background: url('bg.jpg') top center / auto 100% no-repeat;
        background: url('bg.webp') top center / auto 100% no-repeat;
    }

    .content {
        max-width: 80%;
        width: 100%;
        height: auto;
    }

    .links {
        align-items: center;
        justify-content: center;
        background: rgba(10, 10, 10, 0.8);
    }

    .link {
        margin: 0.6em 1.4em;
    }

    .icon {
        width: 1.4em;
        height: 1.4em;
    }
}